{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        {% if request.GET.next %}
            <div class="alert alert-danger" role="alert">
                Devi essere loggato per accedere a questa pagina!
            </div>
        {% endif %}

        <div class="card bg-light border rounded shadow-sm">
            <div class="card-body">
                <form method="post"> {% csrf_token %}
                    {{form | crispy}}
                    <input type="submit" class="btn btn-success" value="Login">
                </form>
            </div>
        </div>
    </div>
{% endblock %}