{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <div class="card bg-light border rounded shadow-sm">
            <p class = "card-title"> Feedback per
                <a href="{% url "user:account_detail" user_id=object.user_dst.id %}" class="text-dark text-decoration-none"> @{{ object.user_dst.username }} </a>
                </p>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock content %}