{% block content %}
    <p>
        <a href={% url "user:account_detail" user_id=object.user_src.id %}> {{object.user_src.username}} </a>
        {% if object.user_src == object.transaction.buyer %}
            ha acquistato da
        {% elif object.user_src == object.transaction.listing.user %}
            ha venduto a
        {% endif %}
        <a href={% url "user:account_detail" user_id=object.user_dst.id %}> {{object.user_dst.username}} </a>
    </p>

    <p> Voto: {{object.rating}} </p>
    {% if object.comment %}
        <h4> Commento </h4>
        <p> {{object.comment}} </p>
    {% endif %}

{% endblock content %}