{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
                {% if object.listing.user.profile.profile_pic %}
                    <img src="{{ object.listing.user.profile.profile_pic.url}}" alt="User Image" class="rounded-circle" width="50" height="50">
                {% else %}
                    <i class="fa fa-user text-light"></i>
                {% endif %}
                <i class="bi bi-person-circle fs-3 ms-2" style="display: none;"></i>
                <a href="{% url 'user:account_detail' user_id=object.listing.user.id %}" class="ms-2 text-decoration-none text-light">
                    Venditore @{{ object.listing.user.username }}
                </a>
            </div>
            <div class="d-flex align-items-center">
                {% if object.buyer.profile.profile_pic %}
                    <img src="{{ object.buyer.profile.profile_pic.url}}" alt="User Image" class="rounded-circle" width="50" height="50">
                {% else %}
                    <i class="fa fa-user text-light"></i>
                {% endif %}
                <i class="bi bi-person-circle fs-3 ms-2" style="display: none;"></i>
                <a href="{% url 'user:account_detail' user_id=object.buyer.id %}" class="ms-2 text-decoration-none text-light">
                    Acquirente @{{ object.buyer.username }}
                </a>
            </div>
        </div>
        <div class="mb-4">
            <a href="{% url 'marketplace:listing_detail' listing_id=object.listing.id %}" class="btn btn-primary">
                Vai all'annuncio
            </a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h3>Carte da acquistare</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for card in object.wanted_cards.all %}
                        <div class="col-md-2 mb-3 text-center">
                            <img src="{% static card.img_url %}" class="img-fluid mb-2" alt="{{ card.cod }}">
                            <p>{{ card.cod }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h3>Carte offerte in scambio</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for card in object.proposed_cards.all %}
                        <div class="col-md-2 mb-3 text-center">
                            <img src="{% static card.img_url %}" class="img-fluid mb-2" alt="{{ card.cod }}">
                            <p>{{ card.cod }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <p class="mb-2">Prezzo proposto: €{{ object.proposed_price }}</p>
                {% block status %}
                    <p>Stato: 
                        {% if object.accepted == None %}
                            <span class="badge bg-warning text-dark">Pending</span>
                        {% elif object.accepted == True %}
                            <span class="badge bg-success">Accettato</span>
                        {% else %}
                            <span class="badge bg-danger">Rifiutato</span>
                        {% endif %}
                    </p>
                {% endblock status %}
            </div>
        </div>
    </div>
{% endblock content %}

