{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container mt-5">
        {% for item in object_list %}
            <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                    {% if item.listing.user == request.user %}
                        <div>
                            <p class="card-text mb-0">
                                [{{ item.created_at }}] 
                                Proposta da 
                                <a href="{% url 'user:account_detail' user_id=item.buyer.id %}" class="text-decoration-none text-dark">
                                    @{{ item.buyer.username }}
                                </a>
                            </p>
                        </div>
                        <div class="text-center">
                            €{{ item.proposed_price }}
                        </div>
                        <div>
                            {% if not item.listing.sold and item.accepted is None %}
                                <a href="{% url 'marketplace:transaction_update' transaction_id=item.id %}" class="btn btn-primary">
                                    Dettagli
                                </a>
                            {% else %}
                                    {% if item.accepted %}
                                        <span class="badge bg-success">Accettato</span>
                                        {% for feedback in item.feedbacks.all %}
                                            {% if feedback.user_src == request.user %}
                                                {% if feedback.rating is None %}
                                                    <a href="{% url 'marketplace:feedback_send' transaction_id=item.id %}" class="btn btn-warning">
                                                        Hai un feedback da lasciare
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'marketplace:feedback_detail' feedback_id=feedback.id %}" class="btn btn-info">
                                                        Visualizza il feedback lasciato
                                                    </a>
                                                {% endif %}
                                            {% elif feedback.user_dst == request.user %}
                                                {% if feedback.rating is None %}
                                                    <a class="btn btn-warning">
                                                        Non hai ancora ricevuto un feedback
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'marketplace:feedback_detail' feedback_id=feedback.id %}" class="btn btn-info">
                                                        Visualizza il feedback ricevuto
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <span class="badge bg-danger">Rifiutato</span>
                                    {% endif %}
                                <a href="{% url 'marketplace:transaction_detail' transaction_id=item.id %}" class="btn btn-primary"> Dettagli </a>
                            {% endif %}
                        </div>
                    {% elif item.buyer == request.user %}
                        <div>
                            <p class="card-text mb-0">
                                [{{ item.created_at }}] 
                                Proposta a 
                                <a href="{% url 'user:account_detail' user_id=item.listing.user.id %}" class="text-decoration-none text-dark">
                                    @{{ item.listing.user.username }}
                                </a>
                                <a href="{% url 'marketplace:transaction_detail' transaction_id=item.id %}" class="btn btn-primary"> Dettagli </a>
                            </p>
                        </div>
                        <div class="text-center">
                            €{{ item.proposed_price }}
                        </div>
                        <div>
                            {% if item.accepted is None %}
                                <span class="badge bg-warning text-dark">Pending</span>
                            {% elif item.accepted %}
                                <span class="badge bg-success">Accettato</span>
                                {% for feedback in item.feedbacks.all %}
                                    {% if feedback.user_src == request.user %}
                                        {% if feedback.rating is None %}
                                            <a href="{% url 'marketplace:feedback_send' transaction_id=item.id %}" class="btn btn-warning">
                                                Hai un feedback da lasciare
                                            </a>
                                        {% else %}
                                            <a href="{% url 'marketplace:feedback_detail' feedback_id=feedback.id %}" class="btn btn-info">
                                                Visualizza il feedback lasciato
                                            </a>
                                        {% endif %}
                                    {% elif feedback.user_dst == request.user %}
                                        {% if feedback.rating is None %}
                                            <a class="btn btn-warning">
                                                Non hai ancora ricevuto un feedback
                                            </a>
                                        {% else %}
                                            <a href="{% url 'marketplace:feedback_detail' feedback_id=feedback.id %}" class="btn btn-info">
                                                Visualizza il feedback ricevuto
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <span class="badge bg-danger">Rifiutato</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
