{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center mt-4 mb-4">
            {% if request.GET.updated == '1' %}
                <div class="alert alert-success" role="alert">
                    Profilo aggiornato con successo!
                </div>
            {% endif %}

            <div class="profile-pic-container">
                {% if object.profile.profile_pic %}
                    <img src="{{ object.profile.profile_pic.url }}" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                {% else %}
                    <img src="{% static "sad-pikachu.gif" %}" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                {% endif %}
            </div>
            <h5 class="text-light mt-2"> {{ object.username }} </h5>

            {% if object.profile.bio %}
                <p class="text-light"> {{ object.profile.bio }} </p>
            {% endif %}
            {% if object.profile.phone_number %}
                <p class="text-light"> Telefono: {{ object.profile.phone_number }} </p>
            {% endif %}

            <div class="border border-light rounded p-3 mb-4">
                <h3 class="text-light"> Marketplace </h3>
                <div class="mt-3">
                {% if avg_rating %}
                    <h5 class="text-light"> Valutazione media: {{ avg_rating }} </h5>
                    <a href="{% url "marketplace:feedback_list" user_id=object.id %}" class="btn btn-outline-light">
                        <i class="fas fa-comment-alt"></i> Visualizza tutti i feedback
                    </a>
                {% else %}
                    <p class="text-light"> Nessun feedback disponibile </p>
                {% endif %}
                    <a href="{% url "marketplace:listings_list" user_id=object.id %}" class="btn btn-outline-light ml-2">
                        <i class="fas fa-list"></i> Visualizza annunci
                    </a>
                </div>
            </div>

            <div class="border border-light rounded p-3 mb-4">
                <h3 class="text-light"> Collezione </h3>
                {% for set, cards_data in cards_by_set.items %}
                    <div class="mb-3">
                        <h5 class="text-light"><a class='text-light' href={% url "collection:set_list" game_id=set.game.id %}>{{set.game.name}}</a> &raquo; 
                            <a class='text-light' href={% url "collection:card_list" game_id=set.game.id set_id=set.id %}> [{{ set.cod }}] <strong> {{ set.name }} </strong> </a></h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:{{ cards_data.completing_score|floatformat:0 }}%;" aria-valuenow="{{ cards_data.completing_score|floatformat:0 }}" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="text-light mt-2">{{ cards_data.num_owned_cards }} / {{ cards_data.num_set_cards }} carte possedute</p>
                    </div>
                {% endfor %}
                <a href="{% url "collection:collection" user_id=object.id %}" class="btn btn-outline-light ml-2">
                    <i class="fas fa-list"></i> Visualizza collezione completa
                </a>
            </div>

            <div class="border border-light rounded p-3 mb-4">
                <h3 class="text-light"> Wishlists </h3>
                <div id="wishlists">
                    {% for item in object.wishlists.all %}
                        <p class="text-light"> <a href="{% url "collection:wishlist_detail" wishlist_id=item.id %}" class="text-light"> {{ item.name }} </a> </p>
                    {% endfor %}
                </div>
            </div>

            {% if request.user.is_authenticated and object.id == request.user.id %}
                <div class="p-3 mb-4 d-flex align-items-center justify-content-between">
                    <form method="post" action="{% url 'user:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-sign-out-alt"></i> Logout</button>
                    </form>
                    <a href="{% url 'user:account_edit' %}" class="btn btn-outline-light"><i class="fas fa-pencil-alt"></i> Modifica</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
