{% extends "base.html" %}

{% load static %}

{% block head %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock head %}

{% block content %}
<div class="container">
    {% if not cards_by_set.items %}
        <div class="alert alert-danger mt-4" role="alert">
            Non sono presenti carte nella lista
        </div>
    {% endif %}

    {% for set, cards in cards_by_set.items %}
        <div class="row justify-content-center mb-4">
            <div class="col-md-10">
                <p class="text-light">{{ set.name }} {{ set.cod }}</p>
                <div class="row justify-content-center">
                    {% for card in cards %}
                        <div class="col-md-2 mb-4 text-center">
                            <div class="card border-white">
                                <a href="{% url 'collection:card_detail' game_id=set.game_id set_id=set.id card_id=card.id %}">
                                    <img src="{% static card.img_url %}" class="card-img-top img-fluid">
                                </a>
                                <div class="card-body">
                                    <p class="card-text"> {{ card.name }}</p>
                                    <p class="card-text text-muted" style="font-size: 0.8rem;">{{card.cod}}</p>
                                    {% if request.user.is_authenticated %}
                                        <div>
                                            {% if request.session.selection and request.session.listing_id %}
                                                {% if request.session.selection_dest == 'for_sale' %}
                                                    {% if card in listed %}
                                                        <button class="btn btn-outline-danger btn-sm manageListing" data-action="delete" data-dest="for_sale" data-card-id="{{ card.id }}">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                    {% else %}
                                                        <button class="btn btn-outline-success btn-sm manageListing" data-action="post" data-dest="for_sale" data-card-id="{{ card.id }}">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    {% endif %}
                                                {% elif request.session.selection_dest == 'in_exchange' %}
                                                    {% if card in listed %}
                                                        <button class="btn btn-outline-danger btn-sm manageListing" data-action="delete" data-dest="in_exchange" data-card-id="{{ card.id }}">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                    {% else %}
                                                        <button class="btn btn-outline-success btn-sm manageListing" data-action="post" data-dest="in_exchange" data-card-id="{{ card.id }}">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                {% if card in owned %}
                                                    <button class="btn btn-outline-danger btn-sm manageCollection" data-action="remove" data-card-id="{{ card.id }}">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-outline-success btn-sm manageCollection" data-action="add" data-card-id="{{ card.id }}">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                {% endif %}
                                                <div class="btn-group-vertical">
                                                    <button class="btn btn-outline-info btn-sm manageWishlist" data-toggle="modal" data-target="#wishlistDialog{{ card.id }}">
                                                        <i class="fas fa-tasks"></i>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Modal per ogni carta -->
                        <div class="modal fade" id="wishlistDialog{{ card.id }}" tabindex="-1" role="dialog" aria-labelledby="wishlistDialogLabel{{ card.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="wishlistDialogLabel{{ card.id }}">Gestisci Wishlist per {{ card.name }}</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% for wishlist in wishlists %}
                                            {% if card in wishlist.cards.all %}
                                                <button class="btn btn-outline-danger btn-sm manageCollection" data-action="remove" data-wishlist-id="{{ wishlist.id }}" data-card-id="{{ card.id }}">
                                                    <i class="fas fa-minus"></i> {{ wishlist.name }}
                                                </button>
                                            {% else %}
                                                <button class="btn btn-outline-success btn-sm manageCollection" data-action="add" data-wishlist-id="{{ wishlist.id }}" data-card-id="{{ card.id }}">
                                                    <i class="fas fa-plus"></i> {{ wishlist.name }}
                                                </button>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function(){
        $('.manageCollection').click(function(){

            var button = $(this);
            var cardId = button.data('card-id');
            var action = button.data('action');
            var wishlistId = button.data('wishlist-id');
            
            $.ajax({
                url: "{% url 'collection:collection_manage' %}",  // URL dove inviare la richiesta POST
                type: 'POST',
                data: {
                    'action': action,
                    'card_id': cardId,
                    'wishlist_id': wishlistId
                },
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'  // Django richiede il token CSRF per le richieste POST
                },
                success: function(response) {
                    console.log('Success:', response);
                    if(action == 'remove'){
                        button.data('action', 'add');
                        button.toggleClass('btn-outline-danger')
                        button.toggleClass('btn-outline-success')
                        button.children('i').toggleClass('fa-minus')
                        button.children('i').toggleClass('fa-plus')
                    }
                    else{
                        button.data('action', 'remove');
                        button.toggleClass('btn-outline-danger')
                        button.toggleClass('btn-outline-success')
                        button.children('i').toggleClass('fa-minus')
                        button.children('i').toggleClass('fa-plus')
                    }
                },
                error: function(xhr, status, error) {
                    console.log('Error:', xhr.responseText);
                }
            });
        });
        
        {% if request.session.selection and request.session.listing_id %}
            $('.manageListing').click(function(){

                var button = $(this);
                var cardId = button.data('card-id');
                var action = button.data('action');
                var dest = button.data('dest');
                
                $.ajax({
                    url: "{% url 'api:listings-detail' pk=request.session.listing_id %}" + "add-remove-cards/",  // URL dove inviare la richiesta POST
                    type: action,
                    data: {
                        'card_id': cardId,
                        'selection_dest': dest
                    },
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'  // Django richiede il token CSRF per le richieste POST
                    },
                    success: function(response) {
                        console.log('Success:', response);
                        if(action == 'delete'){
                            button.data('action', 'post');
                            button.toggleClass('btn-outline-danger')
                            button.toggleClass('btn-outline-success')
                            button.children('i').toggleClass('fa-minus')
                            button.children('i').toggleClass('fa-plus')
                        }
                        else{
                            button.data('action', 'delete');
                            button.toggleClass('btn-outline-danger')
                            button.toggleClass('btn-outline-success')
                            button.children('i').toggleClass('fa-minus')
                            button.children('i').toggleClass('fa-plus')
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log('Error:', xhr.responseText);
                    }
                });
            });
        {% endif %}
    });
</script>
{% endblock script %}
