{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static object.img_url %}" class="img-fluid rounded" alt="Card Image">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <p class="card-text"><strong>Codice:</strong> {{ object.cod }}</p>
                    <p class="card-text"><strong>Mossa 1:</strong> {{ object.move1 }}</p>
                    {% if object.move2 %}
                        <p class="card-text"><strong>Mossa 2:</strong> {{ object.move2 }}</p>
                    {% endif %}
                    <p class="card-text"><strong>Descrizione:</strong> {{ object.description }}</p>
                </div>
                <div class="card-footer">
                    Set di provenienza <a href={% url "collection:card_list" game_id=object.set.game.id set_id=object.set.id %}> [{{object.set.cod}}] {{object.set.name}} </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

