<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url "home" %}">PokeTrade</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {{request.user.username}} </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href={% url 'user:account_detail' user_id=request.user.id %}>Account</a></li>
                            <li><a class="dropdown-item" href={% url 'collection:collection' user_id=request.user.id%}>Collezione</a></li>
                            <li><a class="dropdown-item" href={% url 'collection:wishlist_list' %}>Wishlist</a></li>
                            <li><a class="dropdown-item" href={% url 'marketplace:listings_list' user_id=request.user.id%}>Miei annunci</a></li>
                            <li><a class="dropdown-item" href="#">Transazioni</a></li>
                        </ul>
                    </li>
                {% else %}
                        <a class="nav-link" href="{% url "user:login" %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:register' %}">Registrati</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'collection:game_list' %}">Esplora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'marketplace:market' %}">Marketplace</a>
            </li>
        </ul>
    </div>
</nav>
  